<html>
    <head></head>
    <title></title>
    <body>
        <form action='/insert' method="post">
            <input type='text' name="country" placeholder="country" >
            <input type='text' name="name" placeholder="name" >
            <input type="number" name="age" placeholder="age">
            <input type='submit' value="submit">
            </form>
    </body>
</html>