<html>
  <head > 
   
   
  </head>
  <title>
   መዓልታዊ ውዕሎ ፕሮግራም
  </title>
  <style> 
  
  .form{
    background-color: rgb(0, 255, 255);
    margin-left: 200px;
    margin-right: 200px;
    font-size: 50px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  }
  .hed{
    background-color: #d0ff00;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  }
  </style>
<body>
  <span class="hdu">
  <h1 class="hed"><marquee> <!--በስመኣብ   ወወልድ ወመንፈስ ቅዱስ ኣሃዱ ኣምላክ ኣሜን።--></marquee></h1>

            
                 <form class="form" method="post"  action="/submit">
                <fieldset style="text-align:left;">
                <legend><b>መዓልታዊ ውዕሎ ፕሮግራም</b></legend>
                                   <label for="ሎጸት">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  ሎጸት</label>
                                   <input type='text' name='tselot'><br>
                                   <label for="ትኣጢሃ">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspትኣጢሃ</label>
                                   <input type='text' name='sin'><br>
                                   <label for="ታስደ">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspታስደ</label>
                                   <input type='text' name='happy'><br>
                                    <label for="ፕሮግራሚንግ">ፕሮግራሚንግ</label>
                                     <input type='text' name='programming'><br>
                                     <label for="ወረብ">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspወረብ</label>
                                       <input type='text' name='wereb'><br>
                                       <label for="ዕለት">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspዕለት</label>
                                       <input type='text' name='alet'><br>

                                       <input type="submit" value="መዝግብ">

                </fieldset>
                  </form>

    </span>        
</body>

</html>